<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Revemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- ... -->
</head>

<body class="text-gray-700 font-mono h-screen">
    <div class="container md:mx-auto md:mx-0 mx-5 md:w-auto w-2/4">
        <nav class="py-5 md:flex justify-between ">
            <a href="{{'/'}}">
                <img src="https://i.ibb.co/JBDm7MF/Whats-App-Image-2021-07-04-at-12-31-37-AM.jpg" alt="" class="w-28">
            </a>
            <ul class="flex md:items-end text-gray-700 md:flex-row flex-col md:mt-0 mt-5 mx-0">
                <li><a class="pr-8 hover:text-green-700" href="{{'/about'}}">About us</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/products'}}">Products</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/value-chain'}}">Value Chain</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/sustainability'}}">Sustainability</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="bg-green-50">
        <section class="container md:mx-auto pb-16">
            <div class="py-10">
                <h1 class="md:text-4xl mb-10 text-3xl md:px-0 px-5">The Revemi Way</h1>
                <div class="md:flex justify-between">
                    <div class="md:w-2/5" data-aos="zoom-in-down">
                        <img src="../static/img/03.jpg" alt="" class="h-9/12 w-full shadow-2xl">
                    </div>
                    <div class="md:w-3/5 md:px-10 px-5 md:mt-0 mt-10 md:flex items-center" data-aos="zoom-in">
                        <div>
                            <p></p>
                            <p class="py-2">Revemi Trade is an integrated agtech and agrocommodities trading company with core values of Innovation, Teamwork, Reliability, Integrity and Professionalism. </p>
                            <p class="py-2">We lead and create a superior value for products locally and internationally in line with our value proposition, which is creating an economically viable business at same time improving social welfare, environmental welfare, ecological welfare, and human capacity development.</p>
                        </div>
                    </div>
                </div>        
            </div>
        </section>
    </div>
    <section class="mt-10 py-10 text-gray-700 md:container md:mx-auto">
        <p class="md:py-0 py-5 md:px-0 px-5">Schedule a <a href="https://calendly.com/revemitrade" class="hover:text-green-700">call</a> or send us an <a href="mailto:revemitrade@gmail.com" class="hover:text-green-700">email</a>.</p>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>