<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Revemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- ... -->
</head>

<body class="text-gray-200 font-mono h-screen">
    <div class="container md:mx-auto md:mx-0 mx-5 md:w-auto w-2/4">
        <nav class="py-5 md:flex justify-between ">
            <a href="{{'/'}}">
                <img src="https://i.ibb.co/JBDm7MF/Whats-App-Image-2021-07-04-at-12-31-37-AM.jpg" alt="" class="w-28">
            </a>
            <ul class="flex md:items-end text-gray-700 md:flex-row flex-col md:mt-0 mt-5 mx-0">
                <li><a class="pr-8 hover:text-green-700" href="{{'/about'}}">About us</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/products'}}">Products</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/value-chain'}}">Value Chain</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/sustainability'}}">Sustainability</a></li>

            </ul>
        </nav>
    </div>
    <div class="bg-fixed bg-cover bg-bottom bg-no-repeat h-3/4 bg-blend-overlay"
        style="background-image: url(../static/img/Agric.jpg)">
        <div class="bg-black h-full bg-opacity-75">
            <section class="container md:mx-auto md:h-full h-3/4 md:flex flex items-center">
                <div class="md:w-3/4 flex items-center">
                    <div class="md:px-0 px-5">
                        <h1 class="md:text-6xl mb-5 text-3xl" data-aos="fade-up" data-aos-duration="3000">Increasing
                            food security</h1>
                        <p data-aos="zoom-in">Innovating, empowering and driving prosperity across Africa</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="mt-10 py-10 text-gray-700 md:container md:mx-auto">
        <p class="md:py-0 py-5 md:px-0 px-5">Schedule a <a href="https://calendly.com/revemitrade" class="hover:text-green-700">call</a> or send us an <a href="mailto:revemitrade@gmail.com" class="hover:text-green-700">email</a>.</p>
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>