<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Revemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- ... -->
</head>

<body class="text-gray-700 font-mono h-screen">
    <div class="container md:mx-auto md:mx-0 mx-5 md:w-auto w-2/4">
        <nav class="py-5 md:flex justify-between ">
            <a href="{{'/'}}">
                <img src="https://i.ibb.co/JBDm7MF/Whats-App-Image-2021-07-04-at-12-31-37-AM.jpg" alt="" class="w-28">
            </a>
            <ul class="flex md:items-end text-gray-700 md:flex-row flex-col md:mt-0 mt-5 mx-0">
                <li><a class="pr-8 hover:text-green-700" href="{{'/about'}}">About us</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/products'}}">Products</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/value-chain'}}">Value Chain</a></li>
                <li><a class="pr-8 hover:text-green-700" href="{{'/sustainability'}}">Sustainability</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="container md:mx-auto md:px-0 px-5">
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5">1. Production</h1>
            <div class="md:flex justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/chris-ensminger-yJDZTDeHeG8-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Includes all of the
                        activities involved in the production of raw food materials, such as crop and
                        livestock commodities. </p>
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">2. Processing</h1>
            <div class="flex md:flex-row flex-col-reverse justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Products might undergo
                        further processing to create by-products.</p>
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/petr-magera-KR9j7uqFhnI-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">3. Storage</h1>
            <div class="md:flex justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/joshua-coleman-ZVkDLrXGMdw-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Monitoring and providing
                        storage/aggregation unit for products.</p>
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">4. Distribution</h1>
            <div class="flex md:flex-row flex-col-reverse justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Monitoring production,
                        tracking products in transit and systems along the value chain to aggregate
                        quality products for distribution.</p>
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/brian-stalter-arotxe540N4-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">5. Marketing</h1>
            <div class="md:flex justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/dennis-siqueira-QnMeRW36-zY-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Expanding the market reach
                        for local farmers and deemed exporters.
                        </p>
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">6. Consumer</h1>
            <div class="flex md:flex-row flex-col-reverse justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">The terminal stage in the
                        food and agribusiness value chain.</p>
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/consumer.jpg" class="w-2/3 shadow-2xl" />
                </div>
            </div>
        </div>
        <div class="my-10">
            <h1 class="md:text-3xl text-2xl py-5 py-5">7. Information Sharing</h1>
            <div class="md:flex justify-between">
                <div class="md:w-2/4 px-5 md:flex justify-center" data-aos="zoom-in-down">
                    <img src="../static/img/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg" class="w-2/3 shadow-2xl" />
                </div>
                <div class="md:w-2/4 px-5 md:flex justify-center items-center" data-aos="fade-up">
                    <p class="md:py-0 py-5">Data gathering, data analysis and data sharing across the ecosystem to ensure robust quality control and assurance standards.</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="bg-fixed bg-cover bg-bottom bg-no-repeat h-3/4 bg-blend-overlay"
        style="background-image: url(../static/img/Agric.jpg)">
        <div class="bg-black h-full bg-opacity-75">
            <section class="container md:mx-auto h-full md:flex">
                <div class="w-3/4 md:flex items-center">
                    <div>
                        <h1 class="md:text-6xl mb-5" data-aos="fade-up" data-aos-duration="3000">Revemi Lorem Ipsum</h1>
                        <p data-aos="zoom-in">is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>
            </section>
        </div>
    </div>-->
    <section class="mt-10 py-10 text-gray-700 md:container md:mx-auto">
        <p class="md:py-0 py-5 md:px-0 px-5">Schedule a <a href="https://calendly.com/revemitrade" class="hover:text-green-700">call</a> or send us an <a href="mailto:revemitrade@gmail.com" class="hover:text-green-700">email</a>.</p>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>